.notes-section {
    background-color: #F8F4EF;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    border-radius: 0 0 10px 10px;
    border: 3px solid #ded6cd;
}

.notes-section__title {
    text-align: center;
    color: #26282e; 
    font-size: 1.25rem;
}

.notes-section__text {
    max-width: 290px;
    min-width: 290px;
    min-height: 1rem;
}

.notes-hint {
    color: #a39f9a;
    font-weight: bold;
    padding: 15px;
}