

.technology-card {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 15px;
    align-items: center;
    background-color: #F8F4EF;
    border: 5px solid #ded6cd;
    border-radius: 20px;
    min-width: 400px;
    max-width: 500px;
    width: 100%;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.technology-card__title {
  text-align: center;
    color: #26282e; 
}

.technology-card__content {
  text-align: center;
  color: #40434E;
  align-items: center;
  justify-content: center;
}

.technology-card__status {
  display: flex;           
  justify-content: center; 
  align-items: center;
  min-height: 50px;              
}

.technology-card__status p {
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  display: inline-block;
  align-items: center;
  text-align: center; 
  justify-content: center;
  transition: 
    all 0.4s cubic-bezier(0.4, 0, 0.2, 1),  /* плавный переход */
    transform 0.3s ease;  
}

.technology-card__status:hover {
  cursor: pointer;
}


.completed-status {
  font-family: Helvetica;
  background-color: #E0FFC2;
  border: 3px solid #ccebae;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  display: inline-block;
  text-align: center; 
  transform: scale(1.05); 
}


.in-progress-status {
  font-family: Helvetica;
  background-color: #fff6c2;
  border: 3px solid #ded5a2;
  border-radius: 2px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  display: inline-block;
  transform: scale(1.02); 
}


.not-started-status {
  font-family: Helvetica;
  background-color: #ffc2c2;
  border: 3px solid #d9a1a1;
  border-radius: 2px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  display: inline-block;
}

.technology-card__status p.changing {
  transform: scale(1.1);
}