

.technology-card {
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FEFCFF;
    border: 3px solid #F3F3F3;
    border-radius: 20px;
    /* box-shadow:  0 2px 5px rgba(0,0,0,0.1); */
    min-width: 350px;
}

.technology-card__title {
    color: #15152E; 
}

.technology-card__content {
    padding: 15px;
    color: #30306E;
}

.completed-status {
  font-family: Helvetica;
  border: 3px solid #E0FFC2;
  border-radius: 2px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
}

.in-progress-status {
  font-family: Helvetica;
  border: 3px solid #fff6c2;
  border-radius: 2px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
}

.not-started-status {
  font-family: Helvetica;
  border: 3px solid #ffc2c2;
  border-radius: 2px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
}