

body {
    background-color: #12283F;
    background-size: cover; 
}

.App {
    max-width: 900px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



