

body {
    background-color: #12283F;
    background-size: cover; 
}

.App {
    max-width: 900px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.filters {
    display: flex;
    gap: 8px;
    margin: 16px 0;
}

.filters button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 6px 12px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #F8F4EF;
    color: #6082B6;
    min-width: 100px;
    min-height: 40px;
    transition: 
        background-color 0.5s ease,
        color 0.5s ease,
}

.filters button:hover {
    background-color:#dad4ce;
    color:#4a6792;
    border: 2px solid #afa89f;
    cursor: pointer;
}